

main
{
    background-color: #D9D8D7;
}

.container-header
{
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2em;
    font: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     background-color: #737065;
};


.container-cabecalho
{
    height: 300px;
    
}
nav
{
    color: #D9D8D7;
}

.container-titulo
{
     width: 50%;
    margin-left: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.9em;
    
}

.titulo
{
    margin-top: 5%;
    height: 100px;
    text-align: center;
}

.redes-sociais
{
    width: 400px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-sobre-mim
{
    display: flex;
    font-size: 1.3em;
    align-items: center;
    justify-content: space-around;
    
}


.container-sobre-mim-img
{
    width: 300px;
    margin-right: 1.5%;
    margin-left: 2.3%;
    align-items: flex-end;
    align-self: center;
}

.titulo-sobre-mim
{
    font-size: 1.5em;
}

.container-sobre-mim
{
    width: 100%;
        
}
.titulo-habilidade
{
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #46402c;
    margin-top: 4%;
    margin-left: 2.3%;
    text-align: center;
}

.container-habilidades
{
    display: flex;
    justify-content: space-around;
    height: 300px;
    align-items: center;
}

.container-habilidades-nome
{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #46402c;
}

.titulo-projeto
{
    font-size: 2.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #46402c;
    margin-top: 3%;
    margin-left: 2.3%;
    text-align: center;
}

.container-jogoForca
{
    display: flex;
    margin-top: 4%;
    justify-content: space-around;
    font-size: 1.6em;
    align-items: flex-start;
}

.container-forca-sobre
{
    width: 600px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container-bnt
{
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
}

.btn-demo
{
    width: 160px;
    height: 50px;
    border-radius: 5px;
    color: #D9D8D7;
    background: #423926;
    
}

.btn-demo:hover
{
    background-color: #42413e;

}

.btn-demo:active
{
    width: 130px;
    height: 30px;
}

.btn-repo
{
    width: 160px;
    height: 50px;
    border-radius: 5px;
    color: #D9D8D7;
    background: #423926;

}
.btn-repo:hover
{
    background-color: #42413e;

}


.btn-repo:active
{
    width: 130px;
    height: 30px;
}

.container-encriptador
{
    display: flex;
    justify-content: space-around;
    font-size: 1.6em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: flex-start;
    margin-top: 3%;
}

.container-encripto-sobre
{
    width: 600px;
    text-align: center;
}

.container-nutri
{
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    font-size: 1.6em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: flex-start;
}


.container-nutri-sobre
{
    width: 600px;
    text-align: center;
}

.container-barbearia
{
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    font-size: 1.6em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: flex-start;
}

.container-barbearia-sobre
{
    width: 600px;
    text-align: center;
}

.container-mais-projetos
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.mais-projetos
{
    margin-left: 1%;
    margin-top: 1%;
    font-size: 2.1em;
    text-align: center;
    width: 300px;
}

.titulo-contatos{
    font-size: 2.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #46402c;
    margin-top: 3%;
    margin-left: 2.3%;
    text-align: center;
}


.container-contato
{
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 4%;
}

#email
{
    width: 400px;
    height: 30px;
}

#nome
{
    width: 400px;
    height: 30px;
}

label
{
    font-size: 20px;
}

.form-assunto
{
    align-items: flex-end;
}

.meu-contato
{
    font-size: 1.6em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: flex-start;
}

#assunto::-webkit-input-placeholder
{
    font-size: 30px;
}

.btn-enviar
{
    width: 160px;
    height: 50px;
    border-radius: 5px;
    color: #D9D8D7;
    background: #423926;
    align-self: flex-start;
}


.btn-enviar:hover
{
    background-color: #42413e;

}


.btn-enviar:active
{
    width: 130px;
    height: 30px;
}



footer
{
    display: flex;
    height: 100px;
    background-color: #D9D8D7;
    align-items: center;
    justify-content: center;
    font-size: 1.8em;
    background-color: #737065;
    color: #D9D8D7;
    
}

/* mobile */

@media(max-width: 800px)
{
            .container-header
        {
            flex-direction: column;
            height: 250px;
            font-size: 2em;
            
        }

        .titulo
        {
            height: 200px;
            margin-top: 8%;

        }

        .redes-sociais
        {
            width: 410px;
        }

        .img-linkedin
        {
            width: 220px;
        }

        .img-github
        {
            width: 190px;
        }

        .container-sobre-mim
        {
            font-size: 1.5em;
            flex-direction: column;

            
            
        }



        .titulo-sobre-mim
        {
            text-align: center;
            
        }

        .container-sobre-mim-img
        {
            height: 300px;
            width: 600px;
            
        }

        .foto-eu
        {
            margin-top: 6%;
            margin-left: 36%;
        }

        .container-sobre-mim-resumo
        {
            height: 550px;
            width: 500px;
            font-size: 1.4em;
        }
        .titulo-habilidade
        {
            text-align: center;
        }

        .container-habilidades
        {
            margin-top: 5%;
            flex-direction: column;
            height: 350px;
            flex-wrap: wrap;
        }
        .container-habilidades-nome
        {
            font-size: 1.3em;
        }

        .container-jogoForca
        {
            flex-direction: column;
            align-items: center;
        }

        .container-forca-sobre
        {
            height: 650px;
            width: 500px;
        }

        .container-forca-resumo
        {
            margin-top: 6%;
            font-size: 1.1em;
        }
        .container-bnt
        {
            margin-top: 20%;
        }
        .btn-demo
        {
            width: 200px;
            height: 70px;
            font-size: 30px;
        }

        .btn-repo{

            width: 200px;
            height: 70px;
            font-size: 30px;
        }

        .container-encriptador
        {
            flex-direction: column;
            align-items: center;
        }
        .container-encripto-sobre
        {
            height: 650px;
            width: 500px;
        }

        .container-encripto-resumo
        {
            margin-top: 6%;
            font-size: 1.1em;
        }

        .container-nutri
        {
            flex-direction: column;
            align-items: center;
            height: 800px;
        }

        .container-nutri-sobre
        {
            height: 650px;
            width: 500px;
        }

        .container-nutri-resumo
        {
            margin-top: 6%;
            font-size: 1.1em;
        }

        .container-barbearia
        {
            flex-direction: column;
            align-items: center;
            height: 550px;
        }

        .container-barbearia-sobre
        {
            height: 650px;
            width: 500px;
        }

        .container-barbearia-resumo
        {
            margin-top: 6%;
            font-size: 1.1em;
        }

        .container-mais-projetos
        {
            height: 100px;
            margin-top: 4%;
        }

        .container-contato
        {
            flex-wrap: nowrap;
            height: 650px;
        }

        #email
        {
            width: 80%;
            height: 50px;
        }

        #email::-webkit-input-placeholder
        {
            font-size: 30px;
        }

        #nome
        {
            width: 80%;
            height: 50px;
        }

        #nome::-webkit-input-placeholder
        {
            font-size: 30px ;
        }

        label
        {
            font-size: 30px;
        }

        #assunto
        {
            font-size: 17px;
        }

        #assunto::-webkit-input-placeholder
        {
            font-size: 40px;
        }

        .form-assunto{
            font-size: 30px;
        }

        .container-bnt
        {
            margin-top: 4%;
        }

        .btn-enviar
        {
            width: 200px;
            height: 70px;
            font-size: 30px;
        }

        .email
        {
            font-size: 35px;
            text-align: center;
        }

        .footer
        {
            height: 200px;
        }

        .rodape
        {
            font-size: 35px;
            height: 100px;
            width: 500px;
            text-align: center;
            align-self: flex-end; 
            
        }
}

